#sidebar{
  display: block ;
  visibility: visible;
}
#form-popup{
  display:block !important;
  visibility: hidden;
  position: fixed; 
}

.card{
  display: block;
  height: 50px;
  width: 50px;
  border: solid;
}

