body {
  background-image: url("https://i.pinimg.com/originals/c2/51/f3/c251f3af46caa0782a0642872f1ff3c8.jpg");
  background-size: cover;
  display: block;
}

/**********************Index page**********************/

#index-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#storage-select{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  color: white;
  border: solid;
  border-width: 0.5rem;
  border-color:#66FCF1;
  box-shadow: 0px 0px 10px #66FCF1;
  border-radius: 5px;
  height: 50vh;
  width: 50vw;
  justify-content: center;
  align-items: center;
}

#storage-label{
  margin-bottom: 50px;
}

.storebtn{
  border: solid;
  border-color: #66FCF1;
  border-width: 0.3rem;
  background: none;
  color: white;
  padding: 20px;
  width: 150px;
  margin: 10%;
  font-size: 1.3rem;
}

.storebtn:hover{
  transform: scale(1.2);
  box-shadow: 0px 0px 10px #66FCF1;
}

/**********************Main page**********************/

#sidebar{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  display: block ;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  color: white;
  border: solid;
  border-color: white;
  padding: 20px;
  /*background-color: rgba(0,0,0, 0.4);*/
  /*visibility: visible;*/
}

#show-form-btn{
  margin-top: 50px;
  margin-left: 35px;
  padding: 15px;
  background: none;
  color: white;
  border-width: 0.4rem;
  font-size: 1.2rem;
  border-radius: 15px;
}

#show-form-btn:hover{
  box-shadow: 0px 0px 10px white;
  transform: scale(1.1);
  
}

#top-label{
  border-bottom: solid;
  padding: 20px;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 3rem;
}



#form-popup{
  display: none;
  margin-left: 20vw;
  margin-top: 20vh;
  /*visibility: hidden;*/
  position: fixed; 
  border: solid;
  border-color: #66FCF1;
  color: white;
  height: 30vh;
  width: 50vw;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  border-width: 0.5rem;
  box-shadow: 0px 0px 10px #66FCF1;
  border-radius: 5px;
}

#add-btn{
  margin-left: 35px;
  background: none;
  color: white;
  border-width: 0.3rem;
  font-size: 1.2rem;
  border-radius: 3px;
}

#add-btn:hover{
  box-shadow: 0px 0px 10px white;
  transform: scale(1.2);
}

#cards{
  margin-left: 17vw;
  margin-top: 20px;
}

.card{
  display: block;
  /*visibility: visible;*/
  height: 200px;
  width: 200px;
  border: solid;
  border-color: white;
  margin-top: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0px 0px 10px white;
}

.cardRem{
  background: none;
  padding: 10px;
  color: white;
}



